.legend-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.individual-legend-container {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    margin: 0 5px;
    padding-right: 5px;
}

.legend-container {
    display: flex;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px 0;
}