body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    display: flex;
    position: relative;
}

.side-bar {
    width: 30%;
}

.map-bar {
    width: 70%;
}

.modal {
    position: absolute;
    z-index: 99999999999;
    top: 50%;
    right: 50%;
    background-color: white;
    height: 300px;
    width: 400px;
    margin: -150px -200px 0 0;
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
